@import "default"

html, body
    padding: 0;
    margin: 0;
    overflow: hidden;


body
    background-color: backColor;


#menu
    display: inline-block;
    position: absolute;
    bottom: 1%;
    left: 1%;
    width: 10%;
    height: 3%;

.button:not(:first-child) {
    left: 5%;
}
.button
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #fff;
    border-radius: 100%;
